* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #40e0d0;
  color: #ffffff;
  text-align: center;
  /* animation: bg infinite 30s; */
}
p {
  font-family: monospace;
  color: white;
}

.mailmunch-forms-widget-773674,
.waitlist-form {
  min-width: 300px !important;
  width: 40vw !important;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  width: 256px;
  object-fit: contain;
}

code {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

code span {
  font-size: 1.7rem;
  padding-right: 10px;
}

.twitter-logo,
.youtube-logo {
  height: 40px;
  margin-left: 10px;
}

h1 {
  font-size: 72px;
}

input {
  border: 0 none;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: white;
  font-family: monospace;
}

:-ms-input-placeholder,
::-webkit-input-placeholder {
  color: #fff;
}

@keyframes bg {
  0% {
    color: gold;
    background-color: gold;
  }
  25% {
    color: turquoise;
    background-color: turquoise;
  }
  50% {
    color: salmon;
    background-color: salmon;
  }
  75% {
    color: purple;
    background-color: purple;
  }
  100% {
    color: gold;
    background-color: gold;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.buttons-wrapper a.disabled img {
  opacity: 0.2;
}

.buttons-wrapper a.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-wrapper a.disabled:after {
  content: 'COMING SOON';
  color: #333;
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  transform: rotate(-10deg);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.buttons-wrapper a:first-child {
  margin-right: 30px;
}

.buttons-wrapper img {
  height: 80px;
  object-fit: contain;
}
